*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
html, body
#root{
  width: 100%;
  height: 100%;
}
#create-post{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button{
  padding: 10px;
  border: none;
  background-color: #0095f6;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.feed{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}
.post{
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post img{
  width: 100%;
  height: 300px;
}


